<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="CGI-exe" />
            <add name="python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="C:\Python311\python.exe %s%s" resourceType="File" requireAccess="Execute" />
            <add name="fastcgi" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python311\python.exe|C:\Python311\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Execute" />

        </handlers>


    </system.webServer>
</configuration>
